$menu-background: $bleu-tres-leger;

.top-bar {
  background: $menu-background;
  ul {
    background: $menu-background;
    li {
      a {
          color: $bleu-fonce;
          &:hover, &:active {
            background-color: $bleu-tres-leger-hover;
            border-radius: 4px;
          }
      }
    }
  }
}

.title-bar {
  background: $menu-background;
  color: $bleu-fonce;
  padding: 0.9rem;
}
.menu-icon {
    @include hamburger($color: $bleu-fonce, $color-hover: $bleu);
  }

