
.title-bar {
  color: $bleu-fonce;
  padding: 0.9rem;
}

.top-bar {
  background: rgba(240,	250,	250, 0.90);
  ul {
    background: rgba(240,	250,	250, 0);
    li {
      a {
          color: $bleu-fonce;
          &:hover, &:active {
            background-color: $bleu-tres-leger-hover;
            border-radius: 4px;
          }
      }
    }
  }
}

.menu-text {
  color: $bleu-fonce;
  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

