@charset "UTF-8";

@import "foundation/conf-foundation";
@import "font-awesome/conf-font-awesome";

@import "couleurs";
@import "footer";
@import "menu";
@import "banniere";
@import "competences";
@import "blog";
@import "talks";
@import "depots";

$font-stack: Tahoma, Geneva, sans-serif;

body {
  font: 100% $font-stack;
  
  h1 {
      font-family: $font-stack;
  }
}