<html>

<head>
  <style type="text/css">
    @charset "UTF-8";
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide:not(.ng-hide-animate) {
      display: none !important;
    }
    
    ng\:form {
      display: block;
    }
    
    .ng-animate-shim {
      visibility: hidden;
    }
    
    .ng-anchor {
      position: absolute;
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jean-François Le Foll</title>
  <link rel="stylesheet" href="./app/css/app.css">
  <meta class="foundation-mq">
</head>

<body ng-app="app" ng-strict-di="ng-strict-di" class="ng-scope">
  <div data-responsive-toggle="menu-principal" data-hide-for="medium" class="title-bar" style="display: none;">
    <button type="button" data-toggle="" class="menu-icon">
</button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div id="menu-principal" class="top-bar">
    <div class="top-bar-left">
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <a href="#competences">Compétences</a>
        </li>
        <li>
          <a href="#talks">Talks</a>
        </li>
        <li>
          <a href="#depots">Dépôts de code</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <section class="hero">
      <div class="row intro">
        <div class="small-centered medium-uncentered medium-6 large-5 columns">
          <div class="portrait"> </div>
        </div>
        <div class="small-centered medium-uncentered medium-6 large-7 columns">
          <h1>Hello world;</h1>
          <p>Je m'appelle Jean-François et je suis un développeur passionné. </p>
          <p>Convaincu par les méthodes agiles et les pratiques de développement actuelles issues d'XP (TDD, pair programming)
            ; J'essaye de mettre ces idées en application dans mon travail de tous les jours ainsi que de diffuser ces bonnes
            pratiques. </p>
        </div>
      </div>
    </section>
    <section id="competences">
      <div class="row align-center">
        <div class="medium-6 column align-middle">
          <div class="detail">
            <i class="fa fa-wrench fa-4x">
            </i>
          </div>
          <div class="detail h1">Compétences technique
            <div ng-controller="ControleurCompetences as controller" class="ng-scope">
              <!-- ngRepeat: competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence -->
              <div ng-repeat="competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence" class="ng-scope">
                <div class="row align-center">
                  <!-- ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Java</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Junit</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">C#</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                </div>
              </div>
              <!-- end ngRepeat: competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence -->
              <div ng-repeat="competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence" class="ng-scope">
                <div class="row align-center">
                  <!-- ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">NUnit</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">JavaScript</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">AngularJS</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                </div>
              </div>
              <!-- end ngRepeat: competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence -->
              <div ng-repeat="competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence" class="ng-scope">
                <div class="row align-center">
                  <!-- ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Node.js</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Tapestry</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">GWT</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                </div>
              </div>
              <!-- end ngRepeat: competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence -->
              <div ng-repeat="competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence" class="ng-scope">
                <div class="row align-center">
                  <!-- ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Hadoop</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Pig</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">TypeScript</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                </div>
              </div>
              <!-- end ngRepeat: competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence -->
              <div ng-repeat="competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence" class="ng-scope">
                <div class="row align-center">
                  <!-- ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Git</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Maven</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Sonar</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                </div>
              </div>
              <!-- end ngRepeat: competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence -->
              <div ng-repeat="competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence" class="ng-scope">
                <div class="row align-center">
                  <!-- ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Jenkins</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                  <div ng-repeat="competenceFiltree in competence" class="medium-2 column align-middle comp ng-binding ng-scope">Thrift</div>
                  <!-- end ngRepeat: competenceFiltree in competence -->
                </div>
              </div>
              <!-- end ngRepeat: competence in (controller.getCompetencesTechniques() | groupBy:3) track by competence -->
            </div>
          </div>
        </div>
        <div class="medium-6 column align-middle">
          <div class="detail h1">Agilité</div>
        </div>
      </div>
      <div class="row align-center">
        <div class="medium-6 column align-middle">
          <div class="detail h1">Compétences</div>
        </div>
      </div>
    </section>
    <section id="talks">
    </section>
    <section id="depots">
    </section>
  </div>
  <footer class="footer">
    <div class="row align-center">
      <div class="medium-1 column align-middle">
        <a href="https://github.com/JeffLeFoll" target="_blank" title="GitHub" class="fa fa-github-alt fa-lg">
        </a>
      </div>
      <div class="medium-1 column align-middle">
        <a href="https://twitter.com/JeffLeFoll" target="_blank" title="Twitter" class="fa fa-twitter fa-lg">
        </a>
      </div>
      <div class="medium-1 column align-middle">
        <a href="http://fr.linkedin.com/in/jefflefoll" target="_blank" title="LinkedIn" class="fa fa-linkedin-square fa-lg">
        </a>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="./app/extlibs.js">

  </script>
  <script type="text/javascript" src="./app/app.js">

  </script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>