section.apercu
    .row.align-center
        .medium-6.column.align-middle
            div.detail
                i.fa.fa-camera-retro.fa-4x
            div.detail.h1 Compétences technique
                p 
                  | La technique n'est pas une fin en soi. En améliorant toujours mes connaissances, je suis capable de choisir au mieux les technologies qui correspondent à vos besoins.
            
        .medium-6.column.align-middle
            div.detail.h1 Agilité
            
    .row.align-center
        .medium-6.column.align-middle
            div.detail.h1 Compétences technique