div.hero
    .row.intro    
        .small-centered.medium-uncentered.medium-6.large-5.columns
          .portrait
        |     
        .small-centered.medium-uncentered.medium-6.large-7.columns      
          p
            | Développeur passionné, convaincu par les méthodes agiles et les pratiques de développement actuelles issues d'XP (TDD, pair programming) ; J'essaye de mettre ces idées en application dans mon travail de tous les jours ainsi que de diffuser ces bonnes pratiques. 