section.hero
    .row.align-center.intro    
        .medium-6.large-5.column
          .portrait
        |     
        .medium-6.large-7.column.align-middle   
          p
            | Développeur passionné, convaincu par les méthodes agiles et les pratiques de développement actuelles issues d'XP (TDD, pair programming) ; 
            | J'essaye de mettre ces idées en application dans mon travail de tous les jours ainsi que de diffuser ces bonnes pratiques. 