section.hero
  .row.intro    
    .small-centered.medium-uncentered.medium-6.large-5.columns
      .portrait     
    .small-centered.medium-uncentered.medium-6.large-7.columns  
      h1 Hello world;
      p Je m'appelle Jean-François et je suis un développeur passionné. 
      p
        | Convaincu par les méthodes agiles et les pratiques de développement actuelles issues d'XP (TDD, pair programming) ; 
        | J'essaye de mettre ces idées en application dans mon travail de tous les jours ainsi que de diffuser ces bonnes pratiques. 