section(id='competences')
    .row.align-center
        .medium-6.column.align-middle
            div.detail
                i.fa.fa-wrench.fa-4x
            div.detail.h1 Compétences technique
                include competencesTechniques
            
        .medium-6.column.align-middle
            div.detail.h1 Agilité
            
    .row.align-center
        .medium-6.column.align-middle
            div.detail.h1 Compétences technique