section.competences
    .row.align-center
        .medium-6.column.align-middle
            div.detail
                i.fa.fa-camera-retro.fa-4x
            div.detail.h1 Compétences technique
                p 
                  | Lorem ipsum.
            
        .medium-6.column.align-middle
            div.detail.h1 Agilité
            
    .row.align-center
        .medium-6.column.align-middle
            div.detail.h1 Compétences technique