footer.footer
  .row.align-center
    .medium-1.column.align-middle
        a.fa.fa-github-alt.fa-lg(href="https://github.com/JeffLeFoll" target="_blank" title="GitHub")
    .medium-1.column.align-middle        
        a.fa.fa-twitter.fa-lg(href="https://twitter.com/JeffLeFoll" target="_blank" title="Twitter")
    .medium-1.column.align-middle        
        a.fa.fa-linkedin-square.fa-lg(href="http://fr.linkedin.com/in/jefflefoll" target="_blank" title="LinkedIn")