#menu-sticky(data-sticky-container)
  #main-menu.top-bar(data-sticky data-options="marginTop:0;" style="width:100%")
    .top-bar-left
    .top-bar-right
      ul.menu()
        li
          a(href='#competences') Compétences
        li
          a(href='#blog') Blog
        li
          a(href='#talks') Talks
        li
          a(href='#depots') Dépôts de code