<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/slate-font-awesome/slate-font-awesome.html">

<dom-module id="github-card">

  <template>
    <style include="slate-font-awesome">
      @media (max-width: 900px) {
        #card {
          width: 300px;
        }
      }

      @media (min-width: 901px) {
        #card {
          width: 430px;
        }
      }

      #card {
        color: var(--app-primary-color);
        --paper-card-header-color: var(--app-primary-color);
        --paper-card-header: {
          background-color: white;
          border-bottom: 1px solid #e8e8e8;
        }
        ;
        --paper-card-content: {
          min-height: 10vh;
        }
        ;
      }

      #card i {
        margin-left: 1%;
      }

      #card[elevation="1"] {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .language {
        background-color: var(--language-color);
        border-radius: 50%;
        width: 12px;
        height: 12px;
        display: inline-block;
      }

      a:link,
      a:hover,
      a:active,
      a:visited {
        color: var(--app-primary-color);
        text-decoration: none;
      }

      paper-button.custom-color {
        --paper-button-ink-color: var(--app-primary-color);
        color: var(--app-primary-color);
      }
    </style>
    <paper-card heading="[[repo.name]]" id="card">
      <div class="card-content">
        [[repo.description]]
      </div>
      <div class="card-actions">
        <div>
          <span class="language"></span> [[repo.primaryLanguage.name]]
          <template is="dom-if" if="{{_haveWatchers(repo.watchers)}}">
            <i class="fa fa-eye"></i>[[_calculateWatchers(repo.watchers)]]
          </template>
          <template is="dom-if" if="{{_haveForks(repo.forks)}}">
            <i class="fa fa-code-fork"></i>[[repo.forks.totalCount]]
          </template>
          <template is="dom-if" if="{{_haveStargazers(repo.stargazers)}}">
            <i class="fa fa-star"></i>[[repo.stargazers.totalCount]]
          </template>
          <a href="[[repo.url]]" tabindex="-1">
            <paper-button class="custom-color">Explore !</paper-button>
          </a>
        </div>
      </div>
    </paper-card>
  </template>

  <script>
    class GithubCard extends Polymer.Element {
      static get is() { return "github-card"; }

      static get properties() {
        return {
          repo: {
            type: Object
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        this.updateStyles({ '--language-color': this.repo.primaryLanguage.color });
      }

      _haveStargazers(stargazers) {
        return stargazers.totalCount > 0;
      }

      _haveForks(forks) {
        return forks.totalCount > 0;
      }

      _haveWatchers(watchers) {
        return watchers.totalCount > 1;
      }

      _calculateWatchers(watchers) {
        return watchers.totalCount - 1;
      }

    }

    customElements.define(GithubCard.is, GithubCard);
  </script>

</dom-module>
