extends include/layout

block contenu
    div
        include include/banniere
        
        include include/competences

        include include/blog

        include include/talks

        include include/depots
