
$bleu-fonce:#002f4b;
$bleu:#004f7e;
$bleu-leger:#005f98;
$bleu-tres-leger: #f0fafa;
$bleu-tres-leger-hover:#ddf4f4;
$blanc: #fff;

$couleur-background-alt1: $bleu-tres-leger;
$couleur-background-alt2: $bleu;
